
<div class="row">
    <h4>Explore your files using Cognitive Search with Azure Search</h4>
</div>

<div class="row">
    <p>
        <span>To learn more, read </span>
        <a href="https://docs.microsoft.com/en-us/azure/search/cognitive-search-concept-intro" target="_blank">
            What is "cognitive search" in Azure Search?
        </a>
    </p>
    <p>
        <span>You can view and download the source code from the </span>
        <a href="//aka.ms/cog-search-starter-code">Azure Cognitive Search starter project GitHub repo</a>.
    </p>
    <p>
        Below is a basic architectural diagram that represents how cognitive search in Azure Search works:
    </p>
    <p>
        <img src="~/images/cogsearch-architecture.png" alt="Cognitive search with Azure Search" class="img" />
    </p>
    
</div>