
@{
    ViewData["Title"] = "About";
}

<main role="main" class="m-5">
    <div class="content row m-3">
        <div class="col-md-8">
            <div>
                <h1>About Knowledge Mining Accelerator Demo Solution</h1>
                <p>The Azure Customer Engineering Team created this demo solution to speed up demos, POCs, MVPs, or any other business scenario since the code is open and public. KMAv1 is the first version of this customizable and easy to deploy Knowledge Mining solution, that offers not only the best features of the previous Microsoft Cognitive Search demos, but also a long list of innovations. </p>

                <p>Watch the following video to learn how to use this demo solution. (Don't forget to subscribe our channel!)</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Xp8NiljMUEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br />
                <br />
                <p>This solution provides exclusive capabilities like customizable graph visualization, customizable layout (colors, logos), and facets filtering of unwanted terms. Here is full a list of capabilities you will find:</p>


                <ul>
                    <li><b>Bring your own data,</b> upload your files right from the web search interface and create demos or POCs in minutes</li>
                    <li><b>Graph visualization,</b> with customizable interface by facet</li>
                    <li><b>Logos and text customization.</b> Adapt the solution for any organization you want.</li>
                    <li><b>Latest Cognitive Search updates,</b> including Knowledge store and Complex types for advanced analytics.</li>
                    <li><b>Modernized Web Frameworks</b></li>
                    <li><b>Dynamic facet detection,</b> with automatic web interface update</li>
                    <li><b>Facets filtering,</b> to remove unwanted entities or phrases. You can choose what to filter per facet</li>
                    <li><b>Power BI sample report.</b></li>
                    <li><b>Search suggestions, </b>to create a web-search-like experience</li>
                    <li><b>Simple deployment</b> with a single PowerShell command</li>
                    <li><b>Pre-deployed demo environment</b> for Healthcare, Retail and Oil and Gas</li>
                </ul>
                <div>
                    <img src="~/images/architecture.png" width="560" />
                    <p style="font-style:italic">Figure 1: Knowledge Mining Solution Architecture</p>
                </div>

            </div>
            <h5>Useful Links:</h5>
            <div class="content row m-3">


                <ul>
                    <li>
                        <a target="_blank" href="http://aka.ms/kma">Knowledge Mining Accelerator Demo Solution</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/Azure/AIPlatform/tree/master/end-to-end-solutions/kma/Deployment">KMA Deployment Guidance</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://azure.microsoft.com/services/search/">About Azure Search</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://docs.microsoft.com/azure/search/cognitive-search-resources-documentation">About Cognitive Search</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://aka.ms/ace-blog">ACE Team Blog</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://techcommunity.microsoft.com/t5/AI-Customer-Engineering-Team/bg-p/AICustomerEngineeringTeam/label-name/Knowledge%20Mining">ACE Team Blog - Knowledge Mining</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://aka.ms/kmb">Knowledge Mining Bootcamp</a>
                    </li>
                </ul>
            </div>
</main>