@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="col-md-12 px-4">
            <table style="width:100%;height:100%;margin-top:100px;">
                <tr style="height:100%">
                    <td width="40%">
                        <div id="headlinehomepage" style="margin-left:100px;font-size:xx-large;font-style:oblique;margin-bottom:150px">
                            <span></span>
                        </div>
                        <div style="margin-left:100px;font-size:large;font-weight:700;margin-bottom:100px;">
                            <a asp-area="" asp-controller="Search" asp-action="Search">Search Now ></a>
                            
                        </div>
                    </td>
                    <td  width="60%" style="margin:auto;display:block">
                        <div style="margin:auto;display:block">
                            <img src="~/images/homepageimage.png" width="600" height="600" style="border-radius: 50%;" />
                         </div>
                    </td>
                </tr>
</table>

</main>