
@{
    ViewData["Title"] = "Privacy";
}


<main role="main" class="m-5">
    <h1>Privacy</h1>

    <p>Please read Microsoft Privacy Statement <a href="https://privacy.microsoft.com/privacystatement" target="_blank">here</a>.</p>
</main>