
@{
    ViewData["Title"] = "Use of Demo";
}


<main role="main" class="m-5">
    <h1>Notice</h1>

    <p>MICROSOFT PROVIDES THIS DEMO SOLUTION AND SAMPLE DATASETS ON AN “AS IS” BASIS. 
    MICROSOFT MAKES NO WARRANTIES, EXPRESS OR IMPLIED, GUARANTEES OR CONDITIONS WITH RESPECT TO YOUR USE OF THE DATASETS. 
    TO THE EXTENT PERMITTED UNDER YOUR LOCAL LAW, MICROSOFT DISCLAIMS ALL LIABILITY FOR ANY DAMAGES OR LOSSES, INCLUDING DIRECT, CONSEQUENTIAL, SPECIAL, INDIRECT, INCIDENTAL OR PUNITIVE, RESULTING FROM YOUR USE OF THE DATASETS.</p>

    <p>This dataset is provided under the original terms that Microsoft received source data. The dataset may include data sourced from Microsoft. See <a href="https://github.com/Azure/AIPlatform/tree/master/end-to-end-solutions/kma/UseOfDatasets/readme.md" target="_blank">here</a> for more information.</p>
</main>