@page
@model PrivacyModel
@{
    ViewData["Title"] = "How to use the Knowledge Mining Accelerator demo solution";
}
<div style="padding:30px">
    <h1>@ViewData["Title"]</h1>

    <p>Watch the following video to learn how to use this demo solution. (Don't forget to subscribe our channel!)</p>
    <iframe width="800" height="450" src="https://www.youtube.com/embed/Xp8NiljMUEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
</div>
