@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="padding:30px">
    <h1>@ViewData["Title"]</h1>

    <p>Please read Microsoft Privacy Statement <a href="https://privacy.microsoft.com/privacystatement" target="_blank">here</a>.</p>
</div>
