
@{
    ViewData["Title"] = "Index";
}

    <main role="main" class="m-5 col-md-12 px-4">
        <h3>Deploy PowerBI Report</h3>
        <p>A PowerBI report has been created that allows you to view the Cognitive Services skills enrichments. These enrichments are sent to Azure Table Storage via the KnowledgeStore feature. You simply need to download the PowerBI report, modify the data source and then refresh the data sources. You will then be able to see all the enhancements your skill pipeline has added to your Azure Search index.</p>
        <p>A sample of the report can be downloaded from <a href="https://msit.powerbi.com/groups/90835fa6-4c77-4816-ab2b-9b3f9629615e/reports/d23bf354-ad0f-4326-801d-a41c88b2a049/ReportSection945e601b00077ec100a6">here</a></p>
        <p>You can download the Power BI PBIX file from <a href="https://cognitivesearchcontent.blob.core.windows.net/packages/PowerBI Report.pbix">here</a>.</p>
        <div>
            <p>Once downloaded, modify the data source using the following steps:</p>

            <ol>
                <li>Open PowerBI desktop</li>
                <li>Click Edit Queries dropdown and choose "Data source settings"</li>
                <li>Select the first data source, then click "Change source"</li>
                <li>Enter the name of the storage account</li>
                <li>Click OK</li>
                <li>Click "Edit permissions"</li>
                <li>Click Edit under Credentials</li>
                <li>Update the account key with the primary or secondary key</li>
                <li>Click Save</li>
                <li>Close all windows and refresh your data sources</li>
            </ol>
        </div>

    </main>
