.App {
  text-align: center;
  height: 100%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo-separator {
  width: 0;
  height: 33px;
  border: solid 1px rgba(255, 255, 255, 0.5);
}

.App-link {
  color: #09d3ac;
}
.innercontainer {
  width: 100%;
  margin: 0 auto;
}

.innercontainer .ms-Stack:first-child {
  margin: 0;
}

#tblOffers tr:nth-child(even) {
  background: #edebe9;
}
#tblOffers tr:nth-child(odd) {
  background: white;
}

table.offer thead tr th {
  padding-bottom: 14px;
  font-size: 12px;
}

.txtfieldlabel {
  width: 10%;
  float: left;
  text-align: left;
}
.txtfield {
  width: 100px;
  text-align: left;
}
.txtFormField {
  width: 200px;
}

div.ms-TextField > span {
  position: absolute;
  left: 0;
  z-index: 1000;
  width: 100%;
  top: 30px !important;
}
div.ms-TextField > span div {
  background-color: #a80000;
}

div.ms-TextField > span div span {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.ms-Dropdown + div,
.ms-Dropdown + .ms-layer + div {
  background-color: #a80000;
  color: #fff;
  width: 98%;
  padding-left: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
}

.txtfield .ms-TextField-errorMessage,
.txtFormField .ms-TextField-errorMessage {
  margin-left: 20px;
}

.ms-TextField.txtfield span {
  float: left;
  width: 100%;
}
.noborder.offer {
  border-collapse: collapse;
  width: 100%;
}
.noborder input[type="text"] {
  font-size: 13px;
}

.noborder input[type="text"]:focus {
  /*border: 1px solid #66afe9 !important;*/
  outline: 0;
}
.noborder.offer th {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
}

.noborder.offer thead th {
  border-bottom: solid 1px var(--lightgraybg);
}
.noborder.offer td {
  /* height: 100px; */
  vertical-align: top;
  text-align: left;
}
.noborder.offer tbody tr {
  line-height: 50px;
}
.ms-TextField .ms-TextField-field,
.ms-TextField .ms-TextField-fieldGroup {
  height: 40px;
}
.ms-DetailsList-headerWrapper {
  float: left;
}

.errormessage {
  animation-name: css-1, css-14;
  animation-duration: 0.367s;
  animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  animation-fill-mode: both;
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 400;
  color: rgb(164, 38, 44);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

/*Error Message */

div.is-selected > button::after {
  border-left: solid 5px #0078d4;
}

.offer-details-separator {
  width: 0;
  height: 30px;
  margin-right: 45px;
  border: solid 1px rgba(102, 102, 102, 0.5);
}

/* zeplin styles for site */
:root {
  --drkblue: #004578;
  --stroke: #f4f4f4;
  --text: #333333;
  --lightgraybg: #eaeaea;
  --button_blue: #0078d7;
  --button-hover: #005a9e;
  --hint_text: #777777;
  --white: #ffffff;
  --gray: #a6a6a6;
}

.nav-header {
  height: 40px;
  border-top: solid 1px var(--lightgraybg);
  border-bottom: solid 1px var(--lightgraybg);
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  background-color: white;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.56;
  letter-spacing: normal;
  text-align: center;
  color: var(--text);
}

.offer-details-header {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  background-color: white;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.56;
  letter-spacing: normal;
  text-align: left;
  color: var(--text);
}

.offer-details-page-info-header {
  font-size: 15px;
  text-align: left;
  color: var(--text);
}

/* form styling */

.form_label {
  font-size: 14px;
  text-align: left;
  margin-bottom: 7px;
  color: var(--text);
}

.form_textbox {
  width: 370px;
  height: 32px;
  font-size: 14px;
  text-align: left;
  color: var(--text);
}

.form_textboxmodal {
  width: 252px;
  height: 32px;
  font-size: 14px;
  text-align: left;
  color: var(--text);
}

.form_row {
  margin-bottom: 16px !important;
}
/* end form styling */

.isv_title {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.header_text {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 21px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text);
}

.Review-Labels {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--drkblue);
}

.hyperlink {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--button_blue);
}

.description_text {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text);
}

.button_text {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.body_text {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: var(--text);
}

.table_text {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text);
}

.alert_banner_text {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--text);
}

.col_label {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text);
}

.button_text_alt {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #106ebe;
}

/* end zeplin styles for site */

.deleteicon {
  font-size: 25px;
  color: rgb(0, 120, 212);
  cursor: pointer;
}

.addbutton i {
  /* margin-right: 16px; */
  font-size: 15px;
  padding: 8px;
}
.noborder tbody td:last-child {
  border: none;
}

/*Subscription*/
/*Subscription*/

#tblSubscription {
  text-align: left;
}
#tblSubscription tr:nth-child(even) {
  background: #edebe9;
}
#tblSubscription tr:nth-child(odd) {
  background: white;
}

#tblSubscription th,
.fontweight-normal {
  font-weight: normal;
  font-size: 12px;
}

table.offer thead tr th {
  padding-bottom: 14px;
  font-size: 12px;
}
.subscriptionlist {
  margin-top: 1% !important;
}

.filterheader .statusdrp {
  float: left;
}
.filterheader .statusdrp {
  width: 160px;
  height: 40px;
}
.filterheader .statusdrp span {
  height: 40px;
  line-height: 40px;
}
.landingpagecontainner .headertitle {
  padding: 0 20px 0px 20px;
}
.button {
  background-color: #004578 !important;
}
.mainlanding {
  padding: 0 20px 20px 20px;
}
.mainlanding td {
  text-align: left;
  line-height: 30px;
}

.mainlanding {
  width: 570px;
}
.mainlanding td:first-child {
  text-align: left;
}
.mainlanding td:first-child span {
  font-weight: 650;
  color: #333333;
}
.mainlanding tr:last-child td:last-child span {
  color: #787878;
  font-weight: normal;
}
.mainlanding .greentextbox {
  border: 1px solid #00af66;
}
.mainlanding .ms-TextField .ms-TextField-fieldGroup {
  border-color: transparent;
}
.mainlanding .graydropdown {
  color: #2288d8;
}
.graydropdown span {
  background-color: #dedede;
  color: #2288d8;
}
.graydropdown .ms-Dropdown-caretDownWrapper {
  height: 30px;
}
.graydropdown .ms-Dropdown-caretDownWrapper i {
  color: #2288d8;
}
.landing .App {
  height: 100%;
  margin: 0 auto;
  background-color: rgb(234, 234, 234);
}
.landing .App div:last-child {
  padding-top: 0;
  padding-bottom: 0;
}
.landing .ms-Layer.root-133 .ms-Callout-main {
  background-color: #dedede;
  border: 1px solid #2288d8;
}
.landing .ms-Layer.root-133 .ms-Callout-main .ms-Button-flexContainer {
  color: #2288d8;
}
.subscriptiontitle {
  width: 100%;
  text-align: left;
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
}

.mainsubscriptionlist .css-67 {
  background-color: #efefef;
}

.iconright {
  padding-left: 5px;
  float: right;
}
.mainsubscriptionlist .ms-DetailsHeader-cellName {
  font-weight: normal;
}
.updateplanmodal .ms-Dialog-main {
  max-width: 500px;
}
.mainlanding tr:last-child td:last-child .ms-TextField-errorMessage span {
  color: #fff;
}
.disablecheckbox input {
  position: absolute;
  opacity: 0;
  background: none;
}
/* .updateplanmodal .ms-Dialog-inner .ms-Dialog-header
{
  display: none;
} */
/* Enduser*/
.mainlanding .ms-ChoiceField {
  float: left;
  padding-right: 10%;
}
.mainlanding .ms-ChoiceField-field::before {
  margin-top: 5px;
}
.mainlanding .ms-ChoiceField-field::after {
  margin-top: 5px;
}

/*Loading css*/
.loadingspinner .ms-Spinner-circle.ms-Spinner--large {
  width: 100px;
  height: 100px;
}
.spanner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  color: #fff;
  transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  top: 0;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 5px;
  margin: 0px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.show {
  visibility: visible;
}

.spanner,
.overlay {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.spanner.show,
.overlay.show {
  opacity: 0.7;
  z-index: 9999;
}

/*Loading css*/
.ms-Layer {
  z-index: 999 !important;
}

.subv2ipinput {
  width: 100%;
  float: left;
}
.subv2ipinputw_90 {
  width: 88%;
}
.subv2ipinputcopy {
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;  
}
.copied {
  color: #1885d8;
  background-color: #d0d0d0;  
  border-radius: 5px;
}

#keys .deleteicon {  
  font-size: 20px;
  /* border:none !important; */
  /* display: contents!important; */
}

#subscriptionv2 .ms-TextField-fieldGroup
{
  border:none;
}
#subscriptionv2 .keyborder
{
  margin-right: 2%;
}

#subscriptionv2 .keyborder .ms-TextField-fieldGroup
{
  border-width: 1px;
    border-style: solid;
    border-image: initial;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    border-color: rgb(138, 136, 134);
}