@model CognitiveSearch.Web.Configuration.AppConfig

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_SideBar")

<main role="main" class="search col-md-10 ml-sm-auto col-lg-9 px-4">
    <div id="page-content">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Cognitive Search...</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <p>Enter a search query on the left to begin exploring your data.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-submit').on('click', function (e) {
            Search();
        });
    });
</script>