@model CognitiveSearch.Web.Models.SearchViewModel
@{
    ViewData["Title"] = "Search Results";
}

<!-- Pass controller data to view -->
<script>
    q = @Html.Raw(Json.Serialize(Model.Query));
    searchId = @Html.Raw(Json.Serialize(Model.SearchId));
    applicationInstrumentationKey = @Html.Raw(Json.Serialize(Model.AppConfig.AppInsights.InstrumentationKey));

    
</script>

@await Html.PartialAsync("_SideBar", Model)
@await Html.PartialAsync("_FacetSettings")

<main role="main">
    <div id="search-results">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Cognitive Search Results</h1>
            <div id="view-switcher" class="btn-group pr-5" role="radiogroup" aria-label="Select results view">
                <button type="button" data-view="list" class="btn btn-outline-primary btn-results-view" title="View results as list">
                    <span class="ms-Icon ms-Icon--GroupedList"></span>
                </button>
                <button id="view-graph-button" type="button" data-view="entitymap" class="btn btn-outline-primary btn-results-view" title="View results as entity map">
                    <span class="ms-Icon ms-Icon--EngineeringGroup"></span>
                </button>

            </div>
        </div>
        <div id="search-results-container">
            @await Html.PartialAsync("_SearchResults")
            @await Html.PartialAsync("_EntityMap")
        </div>
    </div>


</main>



<script type="text/javascript">
    $(document).ready(function () {

        if (getCookie("showTutorial") !== "false") {
            var modal = document.getElementById("introModal");
            modal.style.display = "block";
        }

        $('#btn-search').click(function (e) {
            Search();
        });

        $('#view-switcher').find('button').click(function () {
            var view = $(this).data('view');
            EntityMapClick(view);
        });

        GetFacetFilterFiles();

    });
</script>